.banner-wrapper{
  position: absolute;
  bottom: 20%;
  left: 10%;
  text-align: center;
  color: #FEFEFE;
  
}

.banner-title{
  text-shadow: 2px 2px 3px rgb(0 0 0 / 60%);
  font-size: 5em;
  text-align: center;
}

.banner-text{
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}
