.banner-wrapper{
  position: absolute;
  bottom: 20%;
  left: 20%;
  text-align: center;
  color: #FEFEFE;
  
}

.banner-title{
  text-shadow: 2px 2px 3px rgb(0 0 0 / 60%);
  font-size: 5em;
}

.banner-text{
  font-size: 14px;
  font-weight: bold;
}
